<beans xmlns = "http://www.springframework.org/schema/beans" 
xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

 

   <bean id="emp" class="com.Student">

<constructor-arg name="SID"><value>100</value></constructor-arg>
<constructor-arg name="SName"><value>Suresh</value></constructor-arg>
<constructor-arg name="Smarks"><value>27</value></constructor-arg>
<constructor-arg name="SSection"><value>50000</value></constructor-arg>



</bean>

</beans>